<div *ngIf="!this.logsList">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>
<div class="dadosCategorias" *ngIf="this.logsList">
    <div class="cabecalho">
        <mat-grid-list cols="2" rowHeight="50px">
            <mat-grid-tile>
                <h2 class="titulo">Logs</h2>
            </mat-grid-tile>          
        </mat-grid-list>
    </div>

    <mat-divider></mat-divider>

    <table mat-table [dataSource]="this.logsList" matSort class="mat-elevation-z8 tabela">
        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="codigo">Código</th>
            <td mat-cell *matCellDef="let item">{{item.codigo}}</td>
        </ng-container>
        <ng-container matColumnDef="usuarioCodigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="usuarioCodigo">Cód Usuário</th>
            <td mat-cell *matCellDef="let item">{{item.usuarioCodigo}}</td>
        </ng-container>   
        <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="descricao">Log</th>
            <td mat-cell *matCellDef="let item">{{item.descricao}}</td>
        </ng-container>      
        <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="data">Data</th>
            <td mat-cell *matCellDef="let item">{{item.data}}</td>
        </ng-container>        
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns:displayColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[2,4,6,8]" showFirstLastButtons>
    </mat-paginator>
</div>