

.divCard{
    padding: 60px;
    width: 800px;
}

.mat-form-field.mat-form-field{
     width: 700px!important;
}

.cabecalho{
    padding-top: 30px;
    padding-bottom: 30px;
}

.titulo{
    position: absolute;
    left: 5px;
}